<section class="advantage">
  <div class="container">
    <h2 class="visually-hidden">advantage</h2>
    <ol class="advantage-list">
      <li class="advantage-item">
        <h3 class="advantage-subtitre">01</h3>
        <a class="current" href=""></a>
        <p class="advantage-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-subtitre">02</h3>
        <p class="advantage-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-subtitre">03</h3>
        <p class="advantage-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-subtitre">04</h3>
        <p class="advantage-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <img
      src="./img/advantage/jahta-mob-min.jpg"
      alt="jahta"
      width="540"
      height="424"
      class="advantage-img"
    />
  </div>
</section>
