<header class="header">
  <div class="container header-container">
    <a href="index.html" class="logo">yachtjet</a>
    <nav class="top-nav">
      <ul class="header-menu">
        <li class="header-menu-item"><a href="">About</a></li>
        <li class="header-menu-item"><a href="">Yachts</a></li>
        <li class="header-menu-item"><a href="">Reviews</a></li>
      </ul>
    </nav>
    <address class="address-list">
      <ul class="contacts">
        <li class="contacts-item">
          <a class="contacts-item-link" href=""
            ><svg class="contacts-icon" width="24" height="24">
              <use href="../img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-item">
          <a class="contacts-item-link" href=""
            ><svg class="contacts-icon" width="24" height="24">
              <use href="../img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-item">
          <a class="contacts-item-link" href=""
            ><svg class="contacts-icon" width="24" height="24">
              <use href="../img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="open-menu-btn" type="button">
      <svg class="open-menu-btn-icon">
        <use href="../img/icons.svg#bb-menu"></use>
      </svg>
    </button>
  </div>
</header>
