<header>
  <div class="container">
    <div class="mobil-header">
      <a href="index.html" class="logo">yachtjet</a>
      <button type="submit" class="header-btn-open">
        <svg class="icon" width="24" height="24">
          <use href="../img/icons.svg#bb-menu"></use>
        </svg>
      </button>
    </div>
    <div class="mobil-modal-header-wrap is-close">
      <div class="mobil-modal-header">
        <a href="index.html" class="logo">yachtjet</a>
        <button type="submit" class="header-btn-close">
          <svg class="icon" width="16" height="16">
            <use href="../img/icons.svg#close"></use>
          </svg>
        </button>
      </div>
      <ul class="mobil-modal-nav">
        <li class="mobil-modal-nav-item active">About</li>
        <li class="mobil-modal-nav-item">Yachts</li>
        <li class="mobil-modal-nav-item">Reviews</li>
      </ul>
      <ul class="mobil-modal-soc">
        <li>
          <svg class="icon" width="20" height="20">
            <use href="./icons.svg#instagram"></use>
          </svg>
        </li>
        <li>
          <svg class="icon" width="20" height="20">
            <use href="./icons.svg#youtube"></use>
          </svg>
        </li>
        <li>
          <svg class="icon" width="20" height="20">
            <use href="./icons.svg#facebook"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
