.about-us {
  background-color: #fbfbfb;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 24px;
}

.container {
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.about-title-two {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
