.rent {
  padding: 80px 20px;
  max-width: 100%;
  width: 375px;
  min-height: 812px;
}
.rent-imput-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.rent-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.rent-imput {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 234px 14px 18px;
  width: 335px;
  max-width: 100%;
  height: 42px;
  background-color: inherit;
}
.rent-imput::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
}

.rent-text-imput {
  margin-bottom: 40px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 261px 80px 18px;
  height: 108px;
  background-color: inherit;
  max-width: 100%;
  resize: none;
}

.rent-text-imput::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(251, 251, 251, 0.4);
}

.rent-btn {
  border-radius: 15px;
  border: none;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 80px;
}

.rent-section-img {
  align-items: center;
  border-radius: 24px;
  width: 335px;
  height: 412px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .rent {
    padding: 150px 32px;
    max-width: 100%;
    width: 768px;
    min-height: 962px;
  }

  .rent-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .rent-imput-container {
    margin-left: 115px;
    margin-right: 115px;
  }

  .rent-imput {
    padding: 18px 388px 18px 18px;
    width: 472px;
    height: 54px;
  }

  .rent-imput::placeholder {
    font-size: 14px;
    line-height: 1.28571;
  }

  .rent-text-imput {
    margin-bottom: 50px;
    padding: 18px 389px 80px 18px;
    height: 116px;
  }

  .rent-text-imput::placeholder {
    font-size: 14px;
    line-height: 1.28571;
  }

  .rent-btn {
    padding: 18px 75px;
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 118px;
  }
  .rent-section-img {
    width: 100%;
    height: 534px;
  }
}

@media screen and (min-width: 1280px) {
  .rent {
    padding: 150px 50px;
    max-width: 100%;
    width: 1280px;
    min-height: 800px;
  }

  .rent-imput-img-desktop {
    display: flex;
  }

  .rent-imput-container {
    width: 472px;
    height: 332px;
    margin-left: 50px;
    margin-right: 0;
  }

  .rent-section-img {
    width: 658;
    height: 536px;
    order: -1;
  }
}

@media screen and (min-width: 1440px) {
}
